<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/metadata') %>
    <title>History - Cryptex</title>
    <%- include('includes/dash-head') %>
  </head>

  <body>
    <!-- preloader -->
    <%- include('includes/preloader') %>
    <!-- ./ preloader -->

    <!-- menu -->
    <div class="menu">
      <div class="menu-header">
        <a href="/dashboard" class="menu-header-logo">
          <img src="../images/logo.svg" alt="logo" />
          <span>Cryptex</span>
        </a>
        <a href="#" class="btn btn-sm menu-close-btn">
          <i class="bi bi-x"></i>
        </a>
      </div>
      <div class="menu-body">
        <div class="dropdown">
          <a
            href=""
            class="d-flex align-items-center"
            data-bs-toggle="dropdown"
          >
            <div class="avatar me-3">
              <img
                src="../images/author.png"
                class="rounded-circle"
                alt="image"
              />
            </div>
            <div>
              <div class="fw-bold" style="color: black">Bella</div>
              <small class="text-danger">unverified</small>
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-end">
            <a
              href="/login"
              class="dropdown-item d-flex align-items-center text-danger"
            >
              <i class="bi bi-box-arrow-right dropdown-item-icon"></i> Logout
            </a>
          </div>
        </div>
        <ul>
          <li class="menu-divider">Dashboard</li>
          <li>
            <a href="/dashboard">
              <span class="nav-link-icon">
                <i class="ri-dashboard-line"></i>
              </span>
              <span>Dashboard</span>
            </a>
          </li>
          <li>
            <a href="/markets">
              <span class="nav-link-icon">
                <i class="bi bi-bar-chart"></i>
              </span>
              <span>Markets</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="nav-link-icon">
                <i class="ri-bank-card-line"></i>
              </span>
              <span>Funds</span>
            </a>
            <ul>
              <li>
                <a href="/deposit">Deposit</a>
              </li>
              <li>
                <a href="/transfer">Transfer</a>
              </li>
              <li>
                <a href="/withdraw">Withdraw</a>
              </li>
            </ul>
          </li>
          <li>
            <a class="active" href="/history">
              <span class="nav-link-icon">
                <i class="ri-history-line"></i>
              </span>
              <span>History</span>
            </a>
          </li>
          <li>
            <a href="/packages">
              <span class="nav-link-icon">
                <i class="ri-box-3-line"></i>
              </span>
              <span>Packages</span>
              <span class="badge bg-success ms-auto">New</span>
            </a>
          </li>
          <li>
            <a href="/signal">
              <span class="nav-link-icon">
                <i class="ri-signal-tower-fill"></i>
              </span>
              <span>Signal</span>
            </a>
          </li>
          <li>
            <a href="/aml-kyc">
              <span class="nav-link-icon">
                <i class="ri-pass-valid-line"></i>
              </span>
              <span>AML/KYC</span>
            </a>
          </li>
          <li class="menu-divider">Pages</li>
          <li>
            <a href="/settings">
              <span class="nav-link-icon">
                <i class="bi bi-gear"></i>
              </span>
              <span>Settings</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- ./  menu -->

    <!-- layout-wrapper -->
    <div class="layout-wrapper">
      <!-- header -->
      <%- include('includes/dash-header') %>
      <!-- ./ header -->

      <!-- content -->
      <div class="content">
        <div class="card">
          <div class="card-body">
            <div class="d-md-flex gap-4 align-items-center">
              <div class="d-none d-md-flex">Your History</div>
              <div class="d-md-flex gap-4 align-items-center">
                <form class="mb-3 mb-md-0">
                  <div class="row g-3">
                    <div class="col-md-6">
                      <div class="input-group">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Search"
                        />
                        <button class="btn btn-outline-light" type="button">
                          <i class="bi bi-search"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="dropdown ms-auto">
                <a
                  href="#"
                  onclick="javascript:window.print()"
                  class="btn btn-primary btn-icon"
                  style="background-color: #3874ff; border: none"
                >
                  <i class="bi bi-printer"></i>Print</a
                >
              </div>
            </div>
          </div>
        </div>

        <% if (numberOfHistories === 0) { %>
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col-lg-12 col-md-12">
            <div class="card widget">
              <div class="card-body">
                <div class="d-md-flex gap-4 align-items-center">
                  <div class="d-none d-md-flex">
                    Unfortunately, you have no Transaction History yet - maybe
                    start sending or recieveing assets
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% } else { %>
        <div class="table-responsive">
          <table id="users" class="table table-custom table-lg">
            <thead>
              <tr>
                <th></th>
                <th>Type</th>
                <th>Amount</th>
                <th>Transaction ID</th>
                <th>Date</th>
                <th>Action</th>
                <th>Status</th>
              </tr>
            </thead>
            <% if (!histories || histories.length === 0) { %>
            <p>No histories yet - maybe start depositing?</p>
            <a href="/deposits" class="btn btn-primary">Deposit</a>
            <% } else { %>
            <tbody>
              <% for (const history of histories) { %>
              <tr>
                <td></td>
                <td>
                  <span class="nav-link-icon"> </span>
                  <%= history.assets.name %>
                </td>
                <td><%= history.amount %></td>
                <td><%= history.assets.id %></td>
                <td>
                  <time datetime="<%= history.date %>"
                    ><%= history.date.getFullYear() %>-<%= history.date.getMonth() %>-<%= history.date.getDate() %></time
                  >
                </td>
                <td><%= history.action %></td>
                <td>
                  <span class="badge text-<%= history.statusT %>"
                    ><%= history.status %></span
                  >
                </td>
              </tr>
              <% } %>
            </tbody>
            <% } %>
          </table>
        </div>

        <nav class="mt-4" aria-label="Page navigation example">
          <div class="pagination justify-content-center">
            <a href="#" class="badge" style="background-color: #3874ff"
              >Load more...</a
            >
          </div>
        </nav>
        <% } %>
      </div>
      <!-- ./ content -->

      <%- include('includes/dash-footer') %>
    </div>
  </body>
</html>
